body {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
height: 100vh;
}
 .wraper {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

 }

 .blockColor {
    height: 600px;
    width: 600px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .div1, 
 .div2,
 .div3,
 .div4{
     box-sizing: border-box;
     border: 1px solid blue;
     height: 300px;
     width: 300px;
 }
 .botton {
     width: 100px;

 } 
